<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flight planner </title>
    </head>
    <body>
        {% block body %}
        <div class="container">
            {% if cities is empty %}
            <a href="/city_list">Enter a new city to route</a>
            {% else %}
            <h2>Enter flight information</h2>
            <form action="/" method="post">
                <label for="departure_time">Enter departure time</label>
                <input type="time" name="departure_time">
                <select name="departure_city">
                    {% for city in cities%}
                    <option value="{{city.getName}}">{{city.getName}}</option>
                    {% endfor %}
                </select>
                <label for="arrival_city">Enter destination</label>
                <input type="text" name="arrival_city">
                <label for="flight_status">Enter Flight Status</label>
                <select name="flight_status">
                    <option value="on_time">On time</option>
                    <option value="delayed">Delayed</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="complete">Complete</option>
                </select>
                <button type="submit">Save</button>
            </form>
            {% endif %}


        {% if flights is not empty %}

        {% for flight in flights %}
        <li>{{flight.getDepartureCity}}</li>
        <li>{{flight.getArrivalCity}}</li>
        <li>{{flight.getDepartureTime}}</li>
        <li>{{flight.getFlightStatus}}</li>
        <a href="/update/{{flight.getId}}"><button type="button">Update this flight</button></a>
        <form action="/delete/{{flight.getId}}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">delete this fight</button>
        </form>
        {% endfor %}
        <a href="/delete"><button>Delete All</button></a>
        {% endif %}

        <h2>Search flights by departure city</h2>
        <form action="/flight_list" method="post">
            <label for="departure_city_search">Enter departure city</label>
            <input type="text" name="departure_city_search">
            <button type="submit" name="button">Search</button>
        </form>

        <a href="/city_list">Enter a new city to route</a>
    </div>

        {% endblock %}

    </body>
</html>
